<div> 
    <!--Nuestras oficinas -->
    <div class="container-fluid ">
      <h1 class="TituloUBI">Conoce nuestras Ubicaciones</h1>
      <div class="container py-5 ">
          <div class="d-flex align-items-center">
              <!-- Imagen a la izquierda -->
              <img [src]="banner" alt="Logo">
              <!-- Texto a la derecha sobresaliente -->
              <div class="overlay-text">
                  <h6>Ubicación: Cusco</h6>
                  <h1 class="mb-4">Centro comercial Ima Sumac de 329</h1>
                  <p>Visítanos en el Centro Comercial Ima Sumac, en el corazón de Cusco, donde podrás disfrutar de nuestros servicios exclusivos en un entorno cómodo y accesible.</p>
                  <ul>
                      <li><i class="far fa-circle"></i>Lunes – Viernes: 9:00 AM - 7:00 PM</li>
                      <li><i class="far fa-circle"></i>Sábado: 9:00 AM - 6:00 PM</li>
                      <li><i class="far fa-circle"></i>Domingo: Cerrado</li>
                  </ul>
                  <a href="contactanos" class="btn btn-primary mt-2">Contactanos Ahora</a>
                  <a href="https://www.google.com/maps?q=Centro+comercial+Ima+Sumac+de+329,Cusco" 
                       target="_blank" class="btn btn-primary mt-2">Ver en Google Maps</a>
              </div>
          </div>
      </div>
    </div>
    <div class="container-fluid ">
      <div class="container py-5 ">
          <div class="d-flex align-items-center">
              <!-- Imagen a la izquierda -->
              <img [src]="banner" alt="Logo">
              <!-- Texto a la derecha sobresaliente -->
              <div class="overlay-text">
                  <h6>Ubicación: Arequipa</h6>
                  <h1 class="mb-4">Av Lima 100 esquina con Av Ejército, Edificio Nasya 2 Yanahuara</h1>
                  <p>Te esperamos en Arequipa, en el Edificio Nasya 2, ubicado en la esquina de Av Lima y Av Ejército. Un lugar donde te ayudamos a expandir tu alcance y mejorar tus resultados comerciales.</p>
                  <ul>
                      <li><i class="far fa-circle"></i>Lunes – Viernes: 9:00 AM - 7:00 PM</li>
                      <li><i class="far fa-circle"></i>Sábado: 9:00 AM - 6:00 PM</li>
                      <li><i class="far fa-circle"></i>Domingo: Cerrado</li>
                  </ul>
                  <a href="contactanos" class="btn btn-primary mt-2">Contactanos Ahora</a>
                  <a href="https://www.google.com/maps?q=Av+Lima+100+esquina+con+Av+Ejército,Arequipa" 
                       target="_blank" class="btn btn-primary mt-2">Ver en Google Maps</a>
              </div>
          </div>
      </div>
    </div>
    <div class="container-fluid py-5">
        <div class="container py-5 position-relative">
            <div class="d-flex align-items-center">
                <!-- Imagen a la izquierda -->
                <img [src]="banner" alt="Logo">
                <!-- Texto a la derecha sobresaliente -->
                <div class="overlay-text">
                    <h6>Ubicación: Huancayo</h6>
                    <h1 class="mb-4">Jr Puno 168, Segundo Piso – Huancayo</h1>
                    <p>En MK, nuestro compromiso es impulsar tus ventas y garantizar que cada oportunidad se convierta en éxito. Visítanos en Huancayo, en el Segundo Piso de Jr Puno 168, nuestros servicios de calidad mientras transformamos tus experiencias comerciales.</p>
                    <ul>
                        <li><i class="far fa-circle"></i>Lunes – Viernes: 9:00 AM - 7:00 PM</li>
                        <li><i class="far fa-circle"></i>Sábado: 9:00 AM - 6:00 PM</li>
                        <li><i class="far fa-circle"></i>Domingo: Cerrado</li>
                    </ul>
                    <a href="contactanos" class="btn btn-primary mt-2">Contactanos Ahora</a>
                    <a href="https://www.google.com/maps?q=Jr+Puno+168,Huancayo" 
                       target="_blank" class="btn btn-primary mt-2">Ver en Google Maps</a>
                </div>
            </div>
        </div>
      </div>
  </div>