<div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left"> 
        <a href="/"><img [src]="logo"href="/" alt="Logo de MK Corporación"></a>
        <a href="/"><img [src]="logoS" alt=""></a>
        <a href="/"><img [src]="logoI" alt=""></a>
    </div>
      <nav id="mainav" class="fl_right"> 
        <ul id="Conectores" class="nav justify-content-center ">
            <li class="nav-item">
                <a class="nav-link text-white fw-bold" href="nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-bold" href="laboral">Oportunidad Laboral</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-bold" href="contactanos">Contáctanos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white fw-bold" href="enviar">Portafolio</a>
            </li>
        </ul>
        
      </nav>
    </header>
  </div>