<header id="header" class="hoc clear">
  <div id="logo" class="fl_left"> 
    <a href="/"><img [src]="logoS" alt="Logo de MK Corporación"></a>
  </div>

  <!-- Menú Normal para Escritorio -->
  <nav id="" class="fl_right">
    <ul id="Conectores" class="nav justify-content-center">
      <li class="nav-item"><a class="nav-link" href="nosotros">Nosotros</a></li>
      <li class="nav-item"><a class="nav-link" href="laboral">Oportunidad Laboral</a></li>
      <li class="nav-item"><a class="nav-link" href="contactanos">Contáctanos</a></li>
      <li class="nav-item"><a class="nav-link" href="enviar">Portafolio</a></li>
    </ul>
  </nav>
 <!-- Combo Box (Inicialmente Oculto en escritorio) -->
 <div class="menu-mobile">
  <select onchange="navigateToPage(this)">
    <option value=""  selected>☰ Menú</option>
    <option value="nosotros">Nosotros</option>
    <option value="laboral">Oportunidad Laboral</option>
    <option value="contactanos">Contáctanos</option>
    <option value="enviar">Portafolio</option>
  </select>
</div>
</header>
