<div class="overlay row4" style="background-image:url('images/demo/backgrounds/01.png');">
    <footer id="footer" class="hoc clear"> 
      <div class="one_quarter first">
        <h1 class="logoname"><a href="./index.html">MK<span>C</span>orporación</a></h1>
        <p>Innovamos para lograr resultados exitosos con soluciones ágiles y personalizadas.</p>
        <ul class="faico clear">
          <li><a href="https://www.facebook.com/profile.php?id=61572441901563" class="faicon-facebook"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://www.linkedin.com/in/mk-corporaci%C3%B3n/" class="faicon-linkedin"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/mk_corporacion2025/" class="faicon-instagram"><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Servicios</h6>
        <ul class="nospace linklist">
          <li><a href="#">Distribución eficiente</a></li>
          <li><a href="#">Consultoría en ventas</a></li>
          <li><a href="#">Estrategias comerciales</a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Nosotros</h6>
        <ul class="nospace linklist">
          <li><a href="#">Misión: Soluciones eficientes en ventas.</a></li>
          <li><a href="#">Visión: Ser líderes en distribución.</a></li>
        </ul>
      </div>
      <div class="one_quarter">
        <h6 class="heading">Únete</h6>
        <ul class="nospace linklist">
          <li><a href="#">Forma parte de MK</a></li>
        </ul>
      </div>
    </footer>
  </div>
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      <p>&copy; 2024 - <a href="#">MK Corporación</a></p>
    </div>
  </div>
  <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
  