<div class="fondo-footer row4">
  <footer id="footer" class="hoc clear"> 
      <div class="one_quarter first">
          <h1><a href="/">MK Corporación</a></h1>
          <p>Innovamos para lograr resultados exitosos con soluciones ágiles y personalizadas.</p>
          <ul class="faico clear">
              <li><a href="#" class="faicon-facebook"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#" class="faicon-linkedin"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#" class="faicon-instagram"><i class="fab fa-instagram"></i></a></li>
          </ul>
      </div>
      <div class="one_quarter">
          <h6 class="heading">Acerca de MK Corporación</h6>
          <ul class="nospace linklist">
            <li><a href="/">Inicio</a></li>
              <li><a href="/nosotros">Nosotros</a></li>
              <li><a href="/laboral">Oportunidad Laboral</a></li>
              <li><a href="/ubicanos">Nuestras Ubicaciones</a></li>
          </ul>
      </div>
      <div class="one_quarter">
          <h6 class="heading">Valores</h6>
          <ul class="nospace linklist">
              <li>Compromiso</li>
              <li>Mentalidad innovadora</li>
              <li>Excelencia en acción</li>
              <li>Trabajo en equipo</li>
              <li>Integridad</li>
          </ul>
      </div>
      <div class="one_quarter">
          <h6 class="heading">Servicio al Cliente</h6>
          <ul class="nospace linklist">
              <li><a href="/contactanos">Contáctanos</a></li>
          </ul>
          <p>Horario de atención:</p>
          <p>Lunes a Viernes: 8:00 am - 6:00 pm</p>
          <p>Sábado: 9:00 am - 2:00 pm</p>
          <p>Ciudades: Lima - Huancayo - Arequipa</p>
      </div>
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
      <p>&copy; 2024 - <a href="#">MK Corporación</a></p>
  </div>
</div>