<div class="wrapper row2">
  <section id="ctdetails" class="hoc container clear">
    <div class="sectiontitle">
      <p class="nospace font-xs">Información de contacto</p>
      <h6 class="heading font-x2">Contáctanos para más detalles</h6>
    </div>
    
    <div class="contact-container">
      <div class="contact-info">
        <ul class="nospace clear">
          <li class="block clear">
            <a href="#"><i class="fas fa-phone"></i></a>
            <span><strong>Llámanos:</strong> +51 987 654 321</span>
          </li>
          <li class="block clear">
            <a href="#"><i class="fas fa-envelope"></i></a>
            <span><strong>Envíanos un correo:</strong> soportemkcorporacion.com</span>
          </li>
        </ul>
        
        <div class="location-selector">
          <label for="location"><strong>Selecciona tu ubicación:</strong></label>
          <select id="location">
            <option value="Lima">Lima</option>
            <option value="Arequipa">Arequipa</option>
            <option value="Cusco">Cusco</option>
            <option value="Huancayo">Huancayo</option>
          </select>
        </div>

        <ul class="nospace clear location-list">
          <li class="block clear">
            <a href="#"><i class="fas fa-map-marker-alt"></i></a>
            <span><strong>Visítanos:</strong> Cusco – Centro comercial Ima Sumac, oficina 329</span>
          </li>
          <li class="block clear">
            <a href="#"><i class="fas fa-map-marker-alt"></i></a>
            <span><strong>Visítanos:</strong> Arequipa – Av Lima 100, esquina con Av Ejército, Edificio Nasya 2, Yanahuara</span>
          </li>
          <li class="block clear">
            <a href="#"><i class="fas fa-map-marker-alt"></i></a>
            <span><strong>Visítanos:</strong> Huancayo – Jr Puno 168, Segundo Piso – Huancayo</span>
          </li>
        </ul>
      </div>

      <div class="contact-form">
        <h6 class="heading">Información adicional</h6>
        <p class="nospace btmspace-15">
          En MK nos dedicamos a ofrecer soluciones efectivas y personalizadas en ventas y distribución. Nuestro enfoque es brindarte resultados exitosos con un servicio ágil y de alta calidad.
        </p>
        <form action="#" method="post">
          <fieldset>
            <legend>Boletín de noticias:</legend>
            <input type="text" placeholder="Nombre">
            <input type="email" placeholder="Correo electrónico">
            <textarea placeholder="Mensaje"></textarea>
            <button type="submit">Enviar</button>
          </fieldset>
        </form>
      </div>
    </div>
  </section>
</div>
